{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Reinvent Ads interface</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Ads Interface</h1>   
{{ end }}